[MESSAGES CONTROL]
disable=R0201,R0903,W0603,C0111

[FORMAT]
max-line-length=128

[TYPECHECK]
ignored-modules: functools, traceback

[DESIGN]
# SublimeHaskell has functions that take a healthy number of keyword arguments.
max-args = 15
max-locals = 20
# Settings.PLUGIN has a really large set of attributes.
max-attributes = 35
# SublimeHaskell has a couple of classes with a lot of public methods.
max-public-methods = 55